//Colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #303235;
$color-light-gray: #dee6eb;
$color-blue: #0780fe;

$color-btn-hover-black: #303235;
$color-btn-hover-blue: #50a6ff;

$color-secondary: #fff876;

$transparent: transparent;

//Spacing
$navbar-height: 8rem;
