.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;

  &:hover {
    transition: all 1s;
  }
}

.btn-black {
  background-color: $color-black;
  color: $color-white;

  &:hover {
    background-color: $color-btn-hover-black;
  }
}

.btn-translucent {
  background-color: $transparent;
  color: $color-black;
  border: 2px solid $color-black;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}
