body {
  background: url("../../../assets/images/introduction_background_confetti.png")
    repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
