.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;

  &__box--yellow {
    position: absolute;
    top: $navbar-height;
    left: 10rem;
    width: 135rem - 10rem;
    height: 100vh;
    z-index: -1;
    padding: 10px;
    background-color: $color-secondary;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 40rem;
  }

  &__title {
    width: 75rem;
    padding: 6rem 0;
    line-height: 7rem;
  }

  &__description {
    margin: 5rem;
    width: 40rem;
    color: $color-gray;
  }
}

.animated-image {
  text-align: center;
  height: 700px;
  background: #e8e8ea;
}

.learn-more {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    margin: 2rem 0;
    padding: 30px;
    width: 46%;
    border-radius: 8px;
    box-shadow: 0 15px 50px $color-gray;

    h2 {
      padding: 25px 0;
    }

    &--version {
      background: url("../../../assets/images/version.jpg");
    }

    &--collaboration {
      background: url("../../../assets/images/collaboration.jpg");
    }
  }
}
